<div class="menubar fixed">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
        {{countryForm.isNewOperation?'Create':'Edit'}} Country
    </div>
    <a ui-sref="country.list" class="new-user btn btn-success pull-right">
        <span>Cancel</span>
    </a>
</div>
<div class="content-wrapper" style="padding-bottom: 100px;">

    <div data-ng-show="countryForm.loading" class="animationload">
        <div class="osahanloading"></div>
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" data-ng-show="message">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        {{message}}
    </div>
    <div class="alert-danger" role="alert" data-ng-show="errorMessage" style="padding: 6px; margin: 10px;">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
                class="sr-only">Close</span></button>
        {{errorMessage || countryForm.errorMessage}}
    </div>
    <form class="form-horizontal" role="form" novalidate name="editForm">
        <div class="form-group" data-ng-class="{'has-error':editForm.title.$error.required}">
            <label class="col-sm-2 control-label"> Country Name <span>*</span></label>
            <div class="col-sm-10">
                <input
                        type="text"
                        class="form-control"
                        required data-ng-model="countryForm.payload.name"
                        name="Name"
                        placeholder="Country Name">
                <span
                        ng-show="editForm.title.$error.required"
                        class="settings-error">Name is required.
          </span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-8">
                <textarea class="ckeditor" cols="10" rows="8" placeholder="Description" id="descEditor"
                          data-ng-model="countryForm.payload.description"
                          ck-editor></textarea>
            </div>
        </div>

        <div class="form-group" style="margin-top: 10px;"
             data-ng-class="{'has-error':editForm.continent.$error.required}">
            <label style="margin-right: 15px;" class="col-sm-2 control-label">Continent</label>
            <input type="text" typeahead-min-length="2" required maxlength="256" placeholder="Search Continent"
                   class="name form-control"
                   style="width: auto;"
                   ng-model="countryForm.payload.continent"
                   name="Continent"
                   typeahead="item.name as item.name for item in countryForm.getContinents($viewValue)"
                   typeahead-on-select="countryForm.setContinent($item)"
                   kng-enter=''/>
            <span ng-show="editForm.continent.$error.required" class="settings-error">Continent is required.</span>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <tags-input
                        min-length="0"
                        placeholder="Press Enter to add a tag"
                        ng-model="countryForm.payload.tags">
                </tags-input>
            </div>
        </div>

        <div class="form-group" data-ng-if="(countryForm.payload.mainImage && countryForm.payload.mainImage.publicId) ||countryForm.payload.cloudFiles.length">
            <label class="col-sm-2 control-label">Photographer Name <span class="text-danger">*</span></label>
            <div class="col-sm-10">
                <input
                        required
                        type="text" class="form-control"
                        data-ng-model="countryForm.payload.photographerName" placeholder="Photographer Name" min="0">
            </div>

        </div>
        <div class="form-group" data-ng-if="(countryForm.payload.mainImage && countryForm.payload.mainImage.publicId) ||countryForm.cloudFiles.length">
            <label class="col-sm-2 control-label">Photographer Link</label>
            <div class="col-sm-10">
                <input
                        type="text" class="form-control"
                        data-ng-model="countryForm.payload.photographerLink" placeholder="Photographer Link" min="0">
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Images</label>
            <div class="col-sm-10">
                <input
                        type="file" ngf-select="countryForm.uploadFiles($files)"
                        ng-model="countryForm.files"
                        accept="image/x-png,image/gif,image/jpeg"
                        multiple>
            </div>
            <div style="margin-top: 50px; margin-left:50px">
                <!--edit case-->
                <div
                        data-ng-show="!countryForm.isNewOperation" style="float: left;margin-right: 5px; " class="file"
                        ng-repeat="image in countryForm.payload.images track by $index">
                    <div class="preview">
                        <cl-image
                                public-id="{{image.publicId}}" class="thumbnail inline" format="jpg">
                        </cl-image>
                    </div>
                    <p class="image_name_wrap">{{image.name}}</p>
                    <div style="text-align: center;">
                        <a data-ng-click="countryForm.removeCloudImage(image.publicId,$index)"
                           style="color:#FF0000">Remove</a>
                    </div>
                </div>

                <div style="float: left;margin-right: 5px; " class="file"
                     ng-repeat="file in countryForm.cloudFiles track by $index">
                    <div class="preview">
                        <img class="thumbnail inline" ngf-src="file.result.url || file">
                    </div>
                    <p class="image_name_wrap">{{file.name}} {{f.$error}} {{f.$errorParam}}</p>
                    <div style="text-align: center;">
                        <a data-ng-click="countryForm.removeImage($index)" style="color:#FF0000">Remove</a>
                    </div>
                </div>
            </div>
        </div>


        <!--Continent  status-->
        <div class="form-group">
            <label class="col-sm-2 control-label">Status</label>
            <div class="btn-group">
                <button type="button" class="btn sm"
                        data-ng-class="countryForm.payload.status  == 'DRAFT' ?'btn-success' :'btn-info'"
                        data-ng-click="countryForm.toggleStatus(countryForm.payload, 'DRAFT')">Drafted
                </button>
                <button type="button" class="btn sm"
                        data-ng-class="countryForm.payload.status == 'PUBLISHED' ?'btn-success' :'btn-info'"
                        data-ng-click="countryForm.toggleStatus(countryForm.payload, 'PUBLISHED')">Published
                </button>
                <button type="button" class="btn sm"
                        data-ng-class="countryForm.payload.status == 'DEACTIVATED' ?'btn-success' :'btn-info'"
                        data-ng-click="countryForm.toggleStatus(countryForm.payload, 'DEACTIVATED')">Deactivated
                </button>
            </div>
        </div>
        <div class="form-group highlight clearfix">
            <div class="col-sm-offset-2 col-sm-10 clearfix create-user">
                <button
                        data-ng-click="countryForm.saveOrUpdate()"
                        class="btn btn-success"
                        data-ng-disabled="editForm.$invalid">
                    {{countryForm.isNewOperation ? 'Create':'Update'}}
                </button>
            </div>
        </div>
    </form>
</div>
