<div class="menubar fixed">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
        {{regionForm.isNewOperation?'Create':'Edit'}} Region
    </div>
    <a ui-sref="region.list" class="new-user btn btn-success pull-right">
        <span>Cancel</span>
    </a>
</div>
<div class="content-wrapper" style="padding-bottom: 100px;">

    <div data-ng-show="regionForm.loading" class="animationload">
        <div class="osahanloading"></div>
    </div>

    <div class="alert alert-success alert-dismissible" role="alert" data-ng-show="message">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
        </button>
        {{message}}
    </div>
    <div class="alert-danger" role="alert" data-ng-show="errorMessage" style="padding: 6px; margin: 10px;">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span></button>
        {{errorMessage || regionForm.errorMessage}}
    </div>
    <form class="form-horizontal" role="form" novalidate name="editForm">
        <div class="form-group" data-ng-class="{'has-error':editForm.title.$error.required}">
            <label class="col-sm-2 control-label">
                Region Name <span>*</span>
            </label>
            <div class="col-sm-10">
                <input
                        type="text"
                        class="form-control"
                        required data-ng-model="regionForm.payload.name"
                        name="Name"
                        placeholder="Region Name">
                <span ng-show="editForm.title.$error.required" class="settings-error">Name is required.
          </span>
            </div>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="ckeditor" cols="10" rows="8" placeholder="Description" id="descEditor"
                          data-ng-model="regionForm.payload.description"
                          ck-editor></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Tags</label>
            <div class="col-sm-10">
                <tags-input
                        min-length="0"
                        placeholder="Press Enter to add a tag"
                        ng-model="regionForm.payload.tags">
                </tags-input>
            </div>
        </div>

        <div class="form-group" style="margin-top: 10px;"
             data-ng-class="{'has-error':editForm.city.$error.required}">
            <label style="margin-right: 15px;" class="col-sm-2 control-label">Continent</label>
            <input type="text" typeahead-min-length="2" required maxlength="256" placeholder="Search Continent"
                   class="name form-control"
                   style="width: auto;"
                   ng-model="regionForm.payload.continent"
                   name="Continent"
                   typeahead="item.name as item.name for item in regionForm.getContinents($viewValue)"
                   typeahead-on-select="regionForm.setContinent($item)"
                   kng-enter=''/>
            <span ng-show="editForm.city.$error.required" class="settings-error">Continent is required.</span>
        </div>

        <div class="form-group" style="margin-top: 10px;"
             data-ng-class="{'has-error':editForm.country.$error.required}">
            <label style="margin-right: 15px;" class="col-sm-2 control-label">Country</label>
            <input type="text" typeahead-min-length="2" required maxlength="256" placeholder="Search Country"
                   class="name form-control"
                   style="width: auto;"
                   ng-model="regionForm.payload.country"
                   name="Country"
                   typeahead="item.name as item.name for item in regionForm.getCountries($viewValue)"
                   typeahead-on-select="regionForm.setCountry($item)"
                   kng-enter=''/>
            <span ng-show="editForm.country.$error.required" class="settings-error">Country is required.</span>
        </div>


        <div class="form-group" data-ng-if="(regionForm.payload.mainImage && regionForm.payload.mainImage.publicId) ||regionForm.payload.cloudFiles.length">
            <label class="col-sm-2 control-label">Photographer Name <span class="text-danger">*</span></label>
            <div class="col-sm-10">
                <input
                        required
                        type="text" class="form-control"
                        data-ng-model="regionForm.payload.photographerName" placeholder="Photographer Name" min="0">
            </div>

        </div>
        <div class="form-group" data-ng-if="(regionForm.payload.mainImage && regionForm.payload.mainImage.publicId) ||regionForm.cloudFiles.length">
            <label class="col-sm-2 control-label">Photographer Link</label>
            <div class="col-sm-10">
                <input
                        type="text" class="form-control"
                        data-ng-model="regionForm.payload.photographerLink" placeholder="Photographer Link" min="0">
            </div>

        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Images</label>
            <div class="col-sm-10">
                <input
                        type="file" ngf-select="regionForm.uploadFiles($files)"
                        ng-model="regionForm.files"
                        accept="image/x-png,image/gif,image/jpeg"
                        multiple>
            </div>
            <div style="margin-top: 50px; margin-left:50px">
                <!--edit case-->
                <div
                        data-ng-show="!regionForm.isNewOperation" style="float: left;margin-right: 5px; " class="file"
                        ng-repeat="image in regionForm.payload.images track by $index">
                    <div class="preview">
                        <cl-image
                                public-id="{{image.publicId}}" class="thumbnail inline" format="jpg">
                        </cl-image>
                    </div>
                    <p class="image_name_wrap">{{image.name}}</p>
                    <div style="text-align: center;">
                        <a data-ng-click="regionForm.removeCloudImage(image.publicId,$index)"
                           style="color:#FF0000">Remove</a>
                    </div>
                </div>

                <div style="float: left;margin-right: 5px; " class="file"
                     ng-repeat="file in regionForm.cloudFiles track by $index">
                    <div class="preview">
                        <img class="thumbnail inline" ngf-src="file.result.url || file">
                    </div>
                    <p class="image_name_wrap">{{file.name}} {{f.$error}} {{f.$errorParam}}</p>
                    <div style="text-align: center;">
                        <a data-ng-click="regionForm.removeImage($index)" style="color:#FF0000">Remove</a>
                    </div>
                </div>
            </div>
        </div>


        <!--City  status-->
        <div class="form-group">
            <label class="col-sm-2 control-label">Status</label>
            <div class="btn-group">
                <button type="button" class="btn sm"
                        data-ng-class="regionForm.payload.status  == 'DRAFT' ?'btn-success' :'btn-info'"
                        data-ng-click="regionForm.toggleStatus(cityForm.payload, 'DRAFT')">Drafted
                </button>
                <button type="button" class="btn sm"
                        data-ng-class="regionForm.payload.status == 'PUBLISHED' ?'btn-success' :'btn-info'"
                        data-ng-click="regionForm.toggleStatus(cityForm.payload, 'PUBLISHED')">Published
                </button>
                <button type="button" class="btn sm"
                        data-ng-class="regionForm.payload.status == 'DEACTIVATED' ?'btn-success' :'btn-info'"
                        data-ng-click="regionForm.toggleStatus(cityForm.payload, 'DEACTIVATED')">Deactivated
                </button>
            </div>
        </div>
        <div class="form-group highlight clearfix">
            <div class="col-sm-offset-2 col-sm-10 clearfix create-user">
                <button
                        data-ng-click="regionForm.saveOrUpdate()"
                        class="btn btn-success"
                        data-ng-disabled="editForm.$invalid">
                    {{regionForm.isNewOperation ? 'Create':'Update'}}
                </button>
            </div>
        </div>
    </form>
</div>
