<div class="menubar fixed">
    <div class="sidebar-toggler visible-xs">
        <i class="ion-navicon"></i>
    </div>

    <div class="page-title">
        Regions
    </div>
    <form class="search hidden-xs" data-ng-submit="Region.refresh(1)" style="margin-left: 201px;">
        <i class="fa fa-search"></i>
        <input type="text" name="q" placeholder="Search Regions" data-ng-model="Region.q">
        <input type="submit">
    </form>
    <a ui-sref="region.create" class="new-user btn btn-success pull-right">
        <span> Create New Region </span>
    </a>

</div>
<div class="content-wrapper" >

    <div data-ng-show="Region.loading" class="animationload">
        <div class="osahanloading"></div>
    </div>

    <table class="table table-striped" data-ng-if="Region.regions.length > 0">
        <thead>
        <tr>
            <th class="col-sm-1">S.No.</th>
            <th class="col-md-1">Name</th>
            <th class="col-md-1"> Updated By</th>
            <th class="col-md-1"> Edit </th>
            <th class="col-md-1"> Status </th>
            <th class="col-md-1"> Action </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat=" regionList in Region.regions">
            <td class="col-sm-1">
                {{Region.offset + ($index + 1)}}
            </td>
            <td class="col-md-1">
                {{regionList.name}}
            </td>
            <td class="col-md-1" data-ng-if="regionList.updatedBy">
                {{regionList.updatedBy.fullName || regionList.updatedBy.email }}
            </td>
            <td class="col-md-1" data-ng-if="!regionList.updatedBy">
                {{'-NA-'}}
            </td>
            <td class="col-md-1">
                <a data-ng-click="Region.edit( regionList, $index )">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
            </td>
            <td class="col-md-1" ng-switch on="regionList.isActivated">
                <span class="label label-success" ng-switch-when="true">Activated</span>
                <span class="label label-danger" ng-switch-when="false">Deactivated</span>
                <span class="label label-warning" ng-switch-when>Under Review</span>
            </td>
            <td class="col-md-1" ng-switch on="regionList.isActivated" class="text-center">
                <a tooltip="Activated" ng-switch-when="false"
                   data-ng-click="Region.setActivatedStatus(regionList,true)">
                    <span class="glyphicon glyphicon-ok-circle">
                    </span>
                </a>
                <a tooltip="Deactivated" ng-switch-when="true"
                   data-ng-click="Region.setActivatedStatus(regionList,false)">
                    <span class="glyphicon glyphicon-ban-circle">
                    </span>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div data-ng-if="Region.regions.length === 0">
        <h3>No Data in Region</h3>
    </div>
    <div ng-if="Region.totalItems>Region.max">
        <div pagination=""
             total-items="Region.totalItems" items-per-page="10" ng-model="Region.currentPage"
             class="pagination-sm" boundary-links="true"
             num-pages="numPages" max-size="Region.maxSize" rotate="false"
             ng-click="Region.refresh()">
        </div>
    </div>
</div>

