/*
@import 'blogPost.scss';
@import 'main.scss';
   .table > tbody > tr > td {
       vertical-align: middle
   }

.bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    transition: width 0.6s ease;
}

.cloudinary-fileupload {
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
    top: -30px;
}

.t-align-center {
    text-align: center
}

.kng-popup {
.modal-content {
    padding: 10px;
    min-height: 250px;
    border-radius: 0;
    text-align: center;
}
.heading {
    font-size: 32px;
    padding: 20px 0;
    font-weight: 300;
}
.button-sect {
    display: inline-block;
}
.btn:last-child {
    margin-left: 0;
}
.green-btn, .blue-btn {
    float: right;
    line-height: 19px;
    margin-left: 50px;
}
.blue-btn {
    margin-right: 10px;
}
p {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;
}
.group-button {
    padding-top: 20px;
}
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

.button {
    height: 34px;
    width: 136px;
    line-height: 34px;
    text-align: center;
@include border-radius(17px);
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

$white-font-color: #fff;
.green-btn {
@extend .button;
    background: #43c38b;
    color: $white-font-color;
    cursor: pointer;
&:hover {
     background: #3fba84;
     color: $white-font-color;
 }
&:focus {
     background: #3cb17d;
     color: $white-font-color;
 }
}

.blue-btn, .message-form .actions .disabled, .message-form .actions .enabled {
    cursor: pointer;
    background: #fff;
    color: #6986a1;
    border: 2px solid #b8c5d1;
    line-height: 30px;
}

.button, .green-btn, .blue-btn, .message-form .actions .disabled, .message-form .actions .enabled, .red-btn, .dark-red-btn, .white-btn, .cancel-btn, .delete-btn {
    height: 34px;
    width: 136px;
    line-height: 22px;
    text-align: center;
    border-radius: 17px;
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #6986a1;
    cursor: pointer;
}

* {
    box-sizing: border-box;
}

.controller button {
    margin-right: 10px;
}

label.control-label.in-line {
    padding-top: 0 !important;
}

.highlight {
    padding-top: 10px;
    margin-top: 20px;
    background-color: #eee;
    border-radius: 5px;
}

.reported-list {
    min-height: 60px;
}

.form-group {
&.spaced {
     padding: 20px 0;
 }
&.highlighted {
     padding: 20px 0;
     border-radius: 5px;
     background-color: #eee;
&.light {
     padding: 10px 0;
     background-color: #f8f8f8;
 }
}

.loader-wrap {
    position: relative;
    height: 30px;
    text-align: center;
.loader {
    position: absolute;
}
}
}

.interstitial-image {
    width: 80%;
    max-width: 700px;
    padding: 20px;
    text-align: center;
    color: #333;
    border: 3px dashed #eee;
    border-radius: 5px;
    margin: 10px auto;
p {
    margin-top: 10px;
}
}

.new-campaign {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f8f8;
    margin-bottom: 30px;
}

.running {
.empty {
    padding: 20px;
    border: 2px dashed #ddd;
    border-radius: 10px;
p {
    padding: 10px;
    text-align: center;
    font-weight: 300;
    font-size: 2.5em;
    color: #ddd;
}
}
}

.campaign-list-cont {
.campaign-list {
    margin: 10px 0;
.campaign {
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #d5d5d5;
&.running {
     background-color: rgba(80, 180, 50, 1);
     color: #fff;
     border-bottom: 1px solid #509032;
.campaign-metrics {
div {
&::after {
     color: #000;
 }
span {
    font-weight: 400;
}
}
}
}
.campaign-image {
    float: left;
    margin-right: 10px;
    text-align: center;
img {
    height: 60px;
    min-width: 50px;
    background-color: #ddd;
}
}
.stop {
    float: left;
.stop-btn {
    padding: 10px;
    display: block;
    min-width: 44px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 10px 10px 10px 0;
    text-align: center;
    color: #fff;
&:hover {
     border-color: #dd2222;
     background-color: rgba(200, 30, 30, 0.4);
     color: #dd2222;
 }

&.resume-btn {
     color: #aaa;
     border: 2px solid #aaa;
.fa-play {
    margin-left: 4px;
}
&:hover {
     color: #333;
     border-color: #333;
     background-color: rgba(80, 80, 80, 0.4);
 }
}
}
}
.meta {
    float: left;
    max-width: 400px;
    overflow: hidden;
.title {
    font-weight: 600;
}
.url {
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}
}
.campaign-metrics {
    float: right;
    text-align: center;
    font-size: 2.1em;
    overflow: hidden;
div {
    float: left;
    margin: 0 10px;
    min-height: 60px;
    width: 160px;
span {
    display: block;
    font-weight: 300;
}
&::after {
     text-align: center;
     font-size: 0.5em;
     line-height: 0.8em;
     font-family: 'FontAwesome', sans-serif;
     color: #444;
     display: block;
 }
}
.clicks {
&::after {
     content: "";
 }
}
.impressions {
&::after {
     content: "";
 }
}
}
.detail-btn {
    font-size: 1.6em;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    left: 0;
    right: 0;
    width: 80px;
    line-height: 31px;
    background-color: rgba(0,0,0,0.3);
    height: 30px;
    transition: background 0.2s linear;
    border-radius: 3px 3px 0 0;
&:hover {
     background-color: rgba(0,0,0,0.5);
 }
}
}
.campaign-detail {
    clear: both;
    width: 98%;
    padding: 3px 0;
    margin: 0 auto;
    background-color: #fafafa;
    border-radius: 0 0 5px 5px;
    border: 1px solid #eee;
.item {
    width: 100%;
    overflow: hidden;
> div {
      float: left;
  }
.period {
    text-indent: 10px;
    width: 60%;
}
.clicks {
    width: 20%;
}
.impressions {
    width: 20%;
}
.tac {
    text-align: center;
}
}
}
}
}

.date-picker {
.btn {
    min-width: inherit;
}
}

[ng-drag] {
    width: 100%;
    background: rgba(255, 0, 0, 0.5);
    color: white;
    cursor: move;
}
.clickableRow {
    cursor: pointer;
}

[ng-drag].draggableDiv {
    color: black;
    background: rgba(217, 237, 247, 0.12);
    height: 40px;
}

[ng-drag].dragging {
    opacity: 0.5;
}

[ng-drop] {
    position: relative;
    height: 50px;
}

[ng-drop] div {
    position: relative;
    z-index: 2;
}

.searchBlog{
    background-color: rgba(43, 175, 226, 0.15);
}
.searchRecipe{
    background-color: white;
}

.discoverTag {
    background: rgb(48, 113, 169);
    color: white;
    margin-left: -8px;
    margin-bottom: -15%;
    border-top-right-radius: .6em;
}


.list-selectable{
    background-color:#3071a9 !important;
}
.homePagesearhbox{
    border: 1px solid #D4D4D4;
    background-color: white;
    width: 100%;
    list-style: none;
    padding: 0;
}
.searchColor{
    float: right;
}


@mixin tabular-data {
    li {
        overflow: hidden;
        color:black;
        font-size: 14px;
        padding: 3px 9px;
        line-height: 22px;
        font-weight: 600;
&:nth-child(odd) {
     background: #f5f6f7;
 }
&:nth-child(even) {
     background: #fff;
 }
    span {
        display: inline-block;
        vertical-align: middle;
        font-weight: 400;
    }
    .count {
        width: 112px;
    }
    .text {
        display: inline-block;
        width: calc(100% - 117px);
        vertical-align: middle;
        float: right;
    }
}
}
@mixin blue-box {
    border: 1px solid #eaeaea;
    background: #f9fafb;
    padding: 12px;
}
.tabular-list {
@include tabular-data;
}
.left-col {
    float: left;
    width: 460px;
    margin-right: 56px;
}
.points {
    padding: 20px 0 !important;
    float: left;
}
.product .note {
    !* font-size: 16px; *!
    line-height: 24px;
    color: #444;
    padding: 18px 10px;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    border-top: 1px solid #dde1e4;
    border-bottom: 1px solid #dde1e4;
    margin-bottom: 28px;
    width: 1024px;
    float: left;
}.ingredient {
 @include blue-box;
     width: 274px;
     float: right;
 }

.custom-selectbox-preview {
    float: right;
    height: 34px;
.select {
    float: right;
    height: 34px;
    width: auto;
    pointer-events: none;
    cursor: default;
    padding: 5px 13px;
    text-align: left;
    line-height: 14px;
    margin-left: 10px;
}
}

.carousal-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
.icons {
    background-repeat: no-repeat;
   // background-image: url(#{$imagePath}/sprite-sheet.png);
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.prev-btn {
@extend .icons;
    width: 40px;
    height: 40px;
    background-position: -140px -140px;
&:hover {
     background-position: -240px -140px;
 }
}
.next-btn {
@extend .icons;
    width: 40px;
    height: 40px;
    background-position: -190px -140px;
&:hover {
     background-position: -290px -140px;
 }
}
.question-details{
.heading{
    padding-top: 30px;
}
padding-bottom: 20px;
.description{
    line-height: 24px;
    padding: 18px 10px;
    border-top: 1px solid #dde1e4;
    border-bottom: 1px solid #dde1e4;
    margin-bottom: 28px;
    width: 986px;
    float: left;
}
.question-tags{
span{
    font-size: 12px;
    padding: 6px 15px;
    display: block;
    background-color: #f5f8fa;
    float: left;
    border-radius: 12px;
    border: 1px solid #e6e6e6;
    margin-right: 10px;
}
}
}
.carousal-nav.prev-btn {
    left: 10px;
    display: none;
}

.carousal-nav.next-btn {
    right: 10px;
    display: none;
}

.product {
    position: relative;
.points{
ul{
    list-style : none;
}
}
.image-container {
    position: relative;
    margin-top: 20px;
    height:400px;
    width: 60%;
    margin-left:18%;
.item{
    background:rgb(245, 246, 247);;
    height: 100%;
}
.user {
    float: right;
    text-align: right;
span {
    margin-top: -5px;
    display: inline-block;
    float: right;
    text-align: right;
    font-weight: 600;
}
}

.img-count {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 9;
    display: inline-block;
    height: 26px;
    line-height: 16px;
    font-size: 15px;
    padding: 5px 6px;
}

&:hover .carousal-nav.prev-btn, &:hover .carousal-nav.next-btn {
                                     display: block;
                                 }
.recipe-carousal, .owl-carousel, .owl-stage-outer, .owl-stage, .owl-item {
    height: 100%;
}
.recipe-carousal .item img {
    display: block;
    width: 100%;
    height: auto;
}
.recipe-carousal {
&.no-image {
     height: 120px;
 }
}
.owl-carousel{
    height: 400px;
}
}
.cat-list {
    float: left;
    border: 0;
    background-color: #fff;
    border-top: 1px solid #dde1e4;
    padding: 17px 0 16px;
    margin-bottom: 0;
    width: 1024px;
}
.heading {
    font-weight: 500;
    font-size: large;
    text-align: center;
}

.product .image-container .owl-item {
    height: inherit !important;
}
}

tags-input .host {
    height: 5% !important;
}

.progress-bar{
    width: 100px;
    position: relative;
    height: 4px;
}
.progress-bar .progress{
    height: 4px;
    background-color: #ff0000;
    width: 0;
}
.preview img {
    max-width: 150px;
    max-height: 100px;
}
.homepage_preview img {
    max-width: 90px;
    max-height: 70px;
}
.image_name_wrap {
    white-space: nowrap;
    width: 6em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.plus-large {
    background-position: -62px -111px;
    height: 15px;
    width: 15px;
}
.note {
    color: #666;
    font-size: 15px;
    font-weight: bold;
}


.custom-selectbox .dropdown-menu {
    top: 32px;
    background: #fff;
    padding-top: 10px;
    height: 128px;
    overflow-y: auto;
}
.custom-selectbox .dropdown-menu li{
    height: 28px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 0 15px;
    color: #444;
    font-size: 13px;
}


*/
